/.cproject
/.project
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/wifip2p.pc
/COPYING
/INSTALL
stamp-h1
/wifip2p/config.h
/wifip2p/config.h.in
/tests/basetest/basetest
*.o
*.lo
*.la
.deps
.libs
